<%- include("partials/headerusrlogged"); -%>


    <div class="flex-container justify-content-center">
      <div class="caja">
        <div class="card m-3" style="height: 22rem;">
          <div class="card-body">
            <h2 class="card-title" style="text-align: center; color: #000000;"><%= doc.nombreProducto %></h2>
            <hr>
            <h4 class="card-title" style="text-align: center; color: #000000;">Descripcion</h4>
            <p style="color: #000000;"><%= doc.descripcionProducto %></p>
            <h5 style="color: #000000;"><%= doc.puntosProducto %> pts</h5>
          </div>
        </div>
      </div>

      <div class="caja">
        <div class="card m-3" style="height: 22rem;">
          <img src="/images/productos/<%= doc.nombreImagen %>.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
            <a href="/canjea/confirma/<%= doc._id %>" class="btn btn-primary" style="width: 100%;">CANJEAR</a>
          </div>
        </div>
      </div>


      </div>




</div>



<%- include("partials/footerusr"); -%>
