<%- include("partials/headerusrlogged"); -%>

  <!-- <div class="flex-container justify-content-around">

    <div class="caja">
      <br>
      <h1 class="display-4 titulo">Canjeá tus puntos</h1>
      <br><br>
      <p class="bajada">Sumá puntos con cada visita y canjealos por cualquiera de nuestros premios a continuación:</p>

    </div>

  </div> -->
</div>


  <div class="flex-container justify-content-around" style="background-color: #343a40; z-index: 1;" >
<% docs.forEach(function(doc){ %>

    <div class="card m-3" style="width: 14rem; height: 20rem;">
      <img src="/images/productos/<%= doc.nombreImagen %>.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title" style="text-align: center; color: #000000;"> <%= doc.nombreProducto %></h6>
        <p style="text-align: center;"><%= doc.puntosProducto %> pts</p>
        <a href="/canjea/<%= doc._id %>" class="btn btn-primary" style="width: 100%;">CANJEAR</a>
      </div>
    </div>


<% }) %>




</div>


<script type="text/javascript">
  $.getJSON("api/user_data", function(data) {
    // Make sure the data contains the username as expected before using it
    if (data.hasOwnProperty('username')) {
        console.log('Usrename: ' + data.username);
    }
});
</script>

<%- include("partials/footerusr"); -%>
