<%- include("partials/header"); -%>

<a href="/admin"><i class="fas fa-home fa-3x homeicon"></i></a>
<a href="/canjes"><i class="fas fa-cash-register fa-3x cashregistericon"></i></a>

  <div class="jumbotron">
    <h5 class="display-6">Cliente: <%= locals.nombreCliente %></h5>
    <h5 class="display-8">Numero: <%= locals.numeroCliente %></h5>
    <h5 class="display-8">Puntos: <%=locals.puntosCliente%></h5>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0"><%= locals.ultimaFecha %></h6>
          <small class="text-muted"><%= locals.ultimaHora %></small>
        </div>
        <span class="text-muted"><%=locals.ultimaAccion%></span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0"><%= locals.penUltimaFecha %></h6>
          <small class="text-muted"><%= locals.penUltimaHora %></small>
        </div>
        <span class="text-muted"><%=locals.penUltimaAccion%></span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0"><%= locals.antePenUltimaFecha %></h6>
          <small class="text-muted"><%= locals.antePenUltimaHora %></small>
        </div>
        <span class="text-muted"><%=locals.antePenUltimaAccion%></span>
        <!-- <table class="tablasellos">
          <tr>
            <td><button type="button" class="btnsello" name="btnsello">1</button></td>
            <td><button type="button" class="btnsello" name="btnsello">2</button></td>
            <td><button type="button" class="btnsello" name="btnsello">3</button></td>
            <td><button type="button" class="btnsello" name="btnsello">4</button></td>
            <td><button type="button" class="btnsello" name="btnsello">5</button></td>
            <td><button type="button" class="btnsello" name="btnsello">6</button></td>
            <td><button type="button" class="btnsello" name="btnsello">7</button></td>
            <td><button type="button" class="btnsello" name="btnsello">8</button></td>
            <td><button type="button" class="btnsello" name="btnsello">9</button></td>
            <td><button type="button" class="btnselloigual" name="btnsello">=</button></td>
            <td><button type="button" class="btnsellogratis" name="btnsello">GRATIS</button></td>
          </tr>
        </table> -->


      </li>



    </ul>



    <form class="" action="/admin/clientes/<%= locals.numeroCliente %>" method="post">
      <div class="mb-3">
        <div class="input-group input-group-top">
          <div class="input-group-prepend">
            <span class="input-group-text">Numero de Cliente: </span>
          </div>
          <input type="text" class="form-control campo" name="numC" value="<%= locals.numeroCliente %>" placeholder="<%= locals.numeroCliente %>" required readonly>

        </div>

        <div class="input-group input-group-middle">
          <div class="input-group-prepend">
            <span class="input-group-text">Factura o Comanda</span>
          </div>
           <input type="radio" name="tipoComprobante" class="radioComprobante" value="FAC" required>Factura
           <input type="radio" name="tipoComprobante" class="radioComprobante" value="COM" required>Comanda
        </div>

        <div class="input-group input-group-middle">

          <div class="input-group-prepend">
            <span class="input-group-text">Comprobante</span>
          </div>
          <input type="text" name="comprobanteAccion" class="form-control campo" placeholder="Ultimos 4 si es factura / mesa y mozo si es comanda" required>

        </div>
        <div class="input-group input-group-middle">
          <div class="input-group-prepend">
            <span class="input-group-text">DNI</span>
          </div>
          <input type="number" name="dniCliente" class="form-control campo" placeholder="DNI" minlength="8" maxlength="8" required>

        </div>
        <div class="input-group input-group-middle">
          <div class="input-group-prepend">
            <span class="input-group-text">Importe en $</span>
          </div>
          <input type="number" name="ptsAAgregar" class="form-control campo" id="importe1" placeholder="Importe" step="0.01" min="0.1" max="9999" required>

        </div>
        <div class="input-group input-group-bottom">
          <div class="input-group-prepend">
            <span class="input-group-text">Confirme Importe en $</span>
          </div>
          <input type="number" name="confirmaPuntos" class="form-control campo" id="importe2" placeholder="Confirme importe" step="0.01" min="0.01" max="9999" required>

        </div>

      </div>
      <button class="btn btn-lg btn-info btn-block disButton" id="btncarga" type="submit" >Cargar puntos</button>
      </form>



      </div>




      <%- include("partials/footer"); -%>
