<%- include("partials/headerusrlogged"); -%>


    <div class="flex-container justify-content-center">
      <div class="caja">
        <div class="card m-3" style="height: 22rem;">
          <div class="card-body">
            <h2 class="card-title" style="text-align: center; color: #000000;"><%= doc.nombreProducto %></h2>
            <hr>
            <h4 class="card-title" style="text-align: center; color: #000000;">Descripcion</h4>
            <p style="color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            <h5 style="color: #000000;"><%= doc.puntosProducto %> pts</h5>
          </div>
        </div>
      </div>

      <div class="caja">
        <div class="card m-3" style="height: 22rem;">
          <img src="/images/productos/<%= doc.nombreImagen %>.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>

          </div>
        </div>
      </div>

      <div class="caja">
        <div class="card m-3" style="height: 22rem;">
          <br>
          <div class="card-body">
          <table style="width: 100%;">
            <tr>

              <td style="text-align: left;"><p style="color: #000000;"><b>Nombre Cliente: </b></p></td>
              <td style="text-align: right;"><p style="color: #000000;"><b><%= cliente.nombreCliente %></b></p></td>
            </tr>
            <tr>
              <td style="text-align: left;"><p style="color: #000000;"><b>Numero Cliente: </b></p></td>
              <td style="text-align: right;"><p style="color: #000000;"><b><%= cliente.numeroCliente %></b></p></td>
            </tr>
          </table>


            <hr>
            <table style="width: 100%;">
              <tr>
                <td style="text-align: left;"><p style="color: #000000;">Puntos acumulados: </p></td>
                <td style="text-align: right;"><p style="color: #000000;"><%= cliente.puntosCliente %> pts</p></td>
              </tr>
              <tr>
                <td style="text-align: left;"><p style="color: #B22222;">Puntos a descontar: </p></td>
                <td style="text-align: right;"><p style="color: #B22222;">- <%= doc.puntosProducto %> pts</p></td>
              </tr>
            </table>
            <br>
            <a href="#" class="btn btn-primary" style="width: 100%;">CANJEAR</a>
          </div>
        </div>
      </div>


      </div>




</div>



<%- include("partials/footerusr"); -%>
