<%- include("partials/headerusrlogged"); -%>

  <div class="flex-container justify-content-around">

    <div class="caja">
      <div class="card m-3" style="width: 14rem; height: 18rem;">
        <img src="/images/chicos/entradas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title" style="text-align: center;">Entradas (2) para teatro</h6>
          <a href="#" class="btn btn-primary" style="width: 100%;">15000 puntos</a>
        </div>
      </div>
    </div>

    <div class="caja">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Trumpeter Malbec 750cc
          <span class="badge badge-primary badge-pill">2300 puntos</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Alamos Reserva Cabernet 750cc
          <span class="badge badge-primary badge-pill">3500 puntos</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          D.V. Catena Zapata Malbec 750cc
          <span class="badge badge-primary badge-pill">5000 puntos</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Finca Los Nobles Malbec-Petit Verdot 750cc
          <span class="badge badge-primary badge-pill">5500 puntos</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Escorihuela Gascon Gran Reserva Malbec 750cc
          <span class="badge badge-primary badge-pill">6000 puntos</span>
        </li>
      </ul>

    </div>

<div class="caja">
  <h1 class="display-4 titulo"><%= locals.titulo %></h1>
  <p class="bajada"><%= locals.nombreCliente %></p>
  <p class="bajada"><%= locals.numeroCliente %></p>
  <p class="bajada"><%= locals.puntosCliente%></p>


</div>
  </div>



  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="flex-container justify-content-around" style="background-color: #343a40;">
  <div class="card m-3" style="width: 14rem; height: 18rem;">
    <img src="/images/chicos/entradas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title" style="text-align: center;">Entradas (2) para teatro</h6>
      <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
    </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/vinos.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Vinos de regalo</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/showdetango.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Show de tango</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/postres.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Degustacion de postres</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/descuentos.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Descuentos en Chiquilin</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
</div>

<script type="text/javascript">
  $.getJSON("api/user_data", function(data) {
    // Make sure the data contains the username as expected before using it
    if (data.hasOwnProperty('username')) {
        console.log('Usrename: ' + data.username);
    }
});
</script>

<%- include("partials/footerusr"); -%>
